.subscriptions-container {
  display: flex; }
  .subscriptions-container .subscription {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-height: 100px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .subscriptions-container .subscription:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .subscriptions-container .subscription img {
      width: 80px; }
    .subscriptions-container .subscription h3 {
      font-size: 22px; }
