.idea/
target/
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.project
.strong-pm
coverage

node_modules
config.json
npm-debug.log
files
